<!DOCTYPE html>
<html lang="en">
<head>
  <title>La#ice Resource Board</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/post.css" />
</head>
<body>
  <%- include('partials/nav') %> <!-- Include the navigation partial -->

  <main class="main-container">
    <div class="grid-container">
      <% posts.forEach(post => { %>
        <div class="grid-item">
          <div class="main-content">
            <div class="title-link">
              <h3><a href="<%= post.url %>" target="_blank"><%= post.title %></a></h3>
            </div>
            <p class="post-description"><%= post.description %></p>
          </div>
          <!-- The username will be handled inside this partial -->
          <%- include('partials/postHeader', { post: post }) %>
        </div>
      <% }) %>
    </div>

    <!-- Include the userList partial inside the main-container -->
    <%- include('partials/userList', { users: users }) %>
  </main>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</body>
</html>
