<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<%- include('nav') %>

<body>
      <% for (let post of posts) { %>
        <article>
          <h1><%= post.title %></h1>
          <h3><%= post.topic %></h3>
          <p><%= post.description %></p>
          <button><a href="/posts/<%= post.id %>">Check it Out</a></button>
        </article>
      <% } %>
</body>

</html>
