<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_head') %>
<%- include('nav') %>

<body>
      <% for (let post of posts) { %>
        <article>
          <h1><%= post.title %></h1>
          <h3><%= post.topic %></h3>
          <p><%= post.description %></p>
          <button><a href="/posts/<%= post.id %>">Check it Out</a></button>
        </article>
      <% } %>
</body>

</html>
