<!-- to create new post by the user -->
<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_head') %>
  <%- include('nav') %>

    <body>
      <form method="POST" action="/users/new">
        <label for="createPost" class="form-label">CREATE NEW POST</label>
        <div class="form-floating mb-3">
          <input class="form-control" type="text" name="title" placeholder="Title" style="width: 300px;">
          <label for="title">Title</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="topics" name="topic" aria-label="Floating label select">
            <option selected>Select Topics</option>
            <% for (let topic of topics) { %>
              <option value="<%=topic.id%>">
                <%=topic.topic_name%>
              </option>
              <% } %>
          </select>
          <label for="topics">Topics</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="url" id="url" placeholder="Url">
          <label for="url">Url</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="description" id="description" placeholder="Description">
          <label for="description">Description</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" disabled class="form-control" name="author" id="author" placeholder="Author">
          <label for="author">
            <%=user.username%>
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </body>

</html>