<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/_head') %> <%- include('nav') %>

  <body>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="back-library" onclick="history.back()">
        <button type="button" class="btn btn-secondary library-button">&lt;</button>
        <h3>Library</h3>
      </div>
    <div class="post-container col-md-10">
      <h2 class="text-center"><%= post.topic %></h2>
      <div class="row">
        <div class="col-md-6 post-main border border-2">
          <h1 class="mt-3"><%= post.title %></h1>
          <a href="<%= post.url %>"><%= post.url %></a>
          <p><%= post.description %></p>
        </div>
        <div class="col-md-4 post-comments border border-2">
            <div class="d-flex mb-2 mt-3">
              <div class="me-2">
                <span class="like-heart"><%= likes.total_likes %>&#9829;</span>
              </div>

              <div class="rating-stars">
                <div class="postRatings">
                  <% for(let i = 5; i >= 1; i--) { %>
                    <span data-rating="<%= i %>" onclick="ratePost(<%= post.id %>, <%= i %>)" <% if (rating.user_rating >= i) { %>class="rated"<% } %>>★</span>
                  <% } %>
                </div>
              </div> <%= parseFloat(rating.average_rating).toFixed(1) %>
            </div>
            <p>Author: <%= post.user %></p>
            <%- include('./partials/_comments', { comments: comments, postId: post.id }) %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
