<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head') %>
<%- include('nav') %>

<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <!-- Library Link to Home -->
        <h2 class="text-left text-danger">
          <a href="/" class="text-danger" style="text-decoration: none;">library</a>
        </h2>
        <!-- Wrapper Card for All Content -->
        <div class="card mb-4">
          <div class="card-body">
            <%- include('partials/ratingDisplay') %>

            <!-- Post Content -->
            <h1 class="card-title"><%= post.title %></h1>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.topic %></h6>
            <p class="card-text"><%= post.description %></p>

            <!-- Link to Original Post URL -->
            <a href="<%= post.url %>" class="btn btn-primary mb-4">LINK</a>

            <!-- Include the Comments Partial -->
            <%- include('partials/_comments', { comments: comments, user: user, post: post }) %>
          </div>
        </div>
      </div>
   
