<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_head') %>
  <%- include('nav') %>

    <body>
      <main>
        <% searchResult.forEach((element)=>{ %>
          <p>
            <%= element.topic %><br>
              <%=element.title %><br>
                <a href=<%=element.url %>> <%= element.url %></a><br>
                <%=element.description %>
          </p>
          <% }) %>

      </main>
    </body>

</html>