<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head') %>
<%- include('nav') %>

<body>
  <div class="d-flex flex-wrap container m-3">
    <% topics.forEach(topic => { %>
      <!-- Display the topic name -->
      <div class="topic-card">
        <a href="/search?search=<%= topic.topic_name %>">
        <div class="card box-shadow d-flex flex-column cursor-pointer p-3" data-topic-name="<%= topic.topic_name %>">
          <h2><%= topic.topic_name %></h2>
        </div>
        </a>
      </div>
    <% }); %>
  </div>
</body>
<%- include('./partials/_footer') %>
</html>
