<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head') %>
<%- include('nav') %>

<body>
  <div class="d-flex flex-wrap container">
    <% topics.forEach(topics => { %>
      <!-- Display the topic name -->
      <div class="topic-card">
        <a href="/search?search=<%= topics.topic_name %>">
        <div class="card box-shadow d-flex flex-column cursor-pointer p-3" data-topic-name="<%= topics.topic_name %>">
          <h2><%= topics.topic_name %></h2>
        </div>
        </a>
      </div>
    <% }); %>
  </div>
</body>
</html>
